<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>581812098038-b4h4mt4up37qq7ot2oc6ht4inukp63pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581812098038-b4h4mt4up37qq7ot2oc6ht4inukp63pb</string>
	<key>API_KEY</key>
	<string>AIzaSyCbJrHRpMVCEO1bOptf2_JaVBoDVdDMKh4</string>
	<key>GCM_SENDER_ID</key>
	<string>581812098038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>su.linka.app</string>
	<key>PROJECT_ID</key>
	<string>linka-55cbe</string>
	<key>STORAGE_BUCKET</key>
	<string>linka-55cbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581812098038:ios:0d145c13ea8dc42f</string>
	<key>DATABASE_URL</key>
	<string>https://linka-55cbe.firebaseio.com</string>
</dict>
</plist>